## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T17','T15','T29','T14','T25','T2','T12','T13','T9']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# store value counts
value_counts = application_df['CLASSIFICATION'].value_counts()

# get the values as a list
unique_values = value_counts.index.tolist()

# get only the ones I want to get rid of
classifications_to_replace = unique_values[5:]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df['APPLICATION_TYPE'])

class_dummies = pd.get_dummies(application_df['CLASSIFICATION'])

affil_dummies = pd.get_dummies(application_df['AFFILIATION'])

use_case_dummies = pd.get_dummies(application_df['USE_CASE'])

org_dummies = pd.get_dummies(application_df['ORGANIZATION'])

inc_dummies = pd.get_dummies(application_df['INCOME_AMT'])

consid_dummies = pd.get_dummies(application_df['SPECIAL_CONSIDERATIONS'])

applications_w_dummy_df = pd.concat([application_df, app_dummies, class_dummies, affil_dummies, use_case_dummies, org_dummies, consid_dummies, inc_dummies], axis = 1)

applications_w_dummy_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,...,Y,0,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,...,0,1,0,0,0,0,0,0,0,0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,...,0,0,1,0,0,0,0,0,0,0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,...,0,0,0,1,0,0,0,0,0,0
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1,...,0,1,0,0,0,0,0,0,0,0
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0,...,0,0,0,0,0,0,1,0,0,0

In [31]:
# list columns to drop from our new dataframe
drop_cols = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'SPECIAL_CONSIDERATIONS','INCOME_AMT']

applications_w_dummy_df = applications_w_dummy_df.drop(drop_cols, axis = 1)

In [32]:
# Split our preprocessed data into our features and target arrays
y = applications_w_dummy_df['IS_SUCCESSFUL']
X = applications_w_dummy_df.drop('IS_SUCCESSFUL', axis = 1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [33]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [34]:
# find the shape of our data so we know how many input_dim will be in our nn_model

X_train_scaled.shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [35]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [36]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5701 - accuracy: 0.7183
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7283
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7314
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7315
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7315
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7317
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7320
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7328
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7330
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7347
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7343
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7340
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7363
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7353
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7363
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7358
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7361
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7360
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7362
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7359
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7368
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7364
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7368
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7379
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7373
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7380
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7374
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7374
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7378
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7389
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7375
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7390
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7384
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7378
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7374
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7381
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7381
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7380
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7386
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7390
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7377
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7391
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7388
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7396
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7387
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7393
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7388
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7386
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7399
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7391
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7393
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7392
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7399
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7392
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7397
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7398
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7405
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7399
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7396
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7402
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7397
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7407
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7401
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7395
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7394
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7401
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7409
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7394
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7404
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7412
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7399
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7404
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7404
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7410
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7397
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7404

In [38]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5617 - accuracy: 0.7307 - 540ms/epoch - 2ms/step
Loss: 0.5616827011108398, Accuracy: 0.7307288646697998

In [40]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")